@charset "UTF-8";

body, html{
    background-image: linear-gradient(to bottom, #222024 ,#5f2c82);
}


section#login{
    
    height: 300px;
    width: 80vw;

}

section#login > div#imagem{
   
    float: left;
    width: 30%;
    height: 100%;

}

section#login > div#formulario{
    
    float: right;
    width: 70%;
    
}
#formulario>p{
    font-size: 1em;
    margin: 15px 0px;
}